@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600;700;800;900&display=swap');

.App {
  overflow: hidden;
  background-color: #333;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  background-color: #333;
}

img {
  margin: auto;
  max-width: 100%;
  display: block;
  aspect-ratio: 160/240;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin-bottom: 0;
}
.grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid-gap-20px-20px {
  grid-gap: 20px;
}

.load-more {
  text-align: center;
  padding: 50px;
}

.load-more-button {
  padding: 8px;
  border-radius: 5px;
  background-color: #e74c3c;
  color: #fff;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s linear;
}

.load-more-button:hover {
  background-color: #f3f3f3;
  color: #333;
}

.scrollTop {
    background-color: #e74c3c;
    right: 20px;
    position: fixed;
    bottom: 80px;
    width: 50px;
    height: 50px;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
}


::-webkit-scrollbar {
  background-color: #000;
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #e74c3c;
  border-radius: 8px;
}

/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111111;
  opacity: 0.6;
  overflow: hidden;
  display: none;
  z-index: 1;
} */


@media (max-width: 768px) {
.grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

}

@media(min-width:769px) and (max-width:1023px) {
  .grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}